.on {
  color: var(--fillColor);
}

.off {
  color: var(--emptyColor);
}

.goodStyle {
  color: red;
}

.starBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
